<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <% messages.forEach(message => { %>
        <ul>
          <li>
            <p><%= message.username %> wrote:</p>
          </li>
          <li>
            <p><%= message.text %></p>
          </li>
          <li>
            <p>On <%= message.added %></p>
          </li>
          <li>
            <a href="/message/<%= message.id %>">View message</a>
          </li>
        </ul>
        <hr>
      <% }); %>
      <a href="/new">Create new message</a>
    </main>
  </body>
</html>